{% extends "base.html" %}

{% block content %}
<div class="container mt-5 bg-white text-black">
    <div class="row">
        <div class="col text-center m-0">
            <h2 class="logo-font mt-4">Supplier Application</h2>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-black rounded-0 mb-4" type="submit">Submit Application</button>
    </form>
</div>
{% endblock %}


<div class="row">
    <div class="col text-center">
        <h2 class="logo-font">Products</h2>
        <hr class="w-80 mb-2">
    </div>
</div>