/* Removing default margins, paddings and borders */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dnijabg52/image/upload/v1718741610/media/background_01.png') no-repeat center center fixed !important;
    min-height: 1200px;
    color: #ADADAD;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    background: #000;
    color: #fff;
    margin-top: auto;
    padding: 20px;
}

main {
    flex: 1;
}

h1, h2, h3 {
    color: #000000;
}

.label-custom {
    background-color: black;
    color: white !important;
    padding: 15px;
    border-radius: 50%;
}

#signup_form label {
    background-color: white !important;
    color: black !important;
    padding: 5px !important;
}

#login_form label {
    background-color: white !important;
    color: black !important;
    padding: 5px !important;
}

.logo-font {
    text-transform: uppercase;
}

.mt-20 {
    margin-top: 100px;
}

.custom-bg-logo {
    background-color: white;
    padding: 5px;
}

.body-logo-font{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main-logo-link {
    width: fit-content;
}

/** Product detail section **/
.fav-icon {
    height: 100px;
}


.shop-now-button {
    background: black;
    color: white;
    padding: 20px;
    
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000000 !important;
    color: #fff !important;
    width: 100%;
    padding: 2px;
}

.marquee{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee p {
    margin-top: 10px;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ADADAD;
    z-index: -1;
}

.card-img-top {
    max-height: 300px;
    width: auto;
}

.img-bag {
    max-height: 130px;
}

/** Toast messages **/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
