html {
    height: 100%;
}

body {
    background: url('/media/background_01.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Kanit", sans-serif;
    
}

.logo-font {
    text-transform: uppercase;
}

.custom-bg-logo {
    background-color: white;
    padding: 5px;
    
}

.body-logo-font{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    padding: 20px;
    
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #fff !important;
    color: black !important;
    border: 2px solid black;
    margin-top: 2px;
    width: 100%;
}