<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=Gins,Wines,Whiskies" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=Wines" class="dropdown-item ">Wines</a>
                <a href="{% url 'products' %}?category=Gins" class="dropdown-item ">Gins</a>
                <a href="{% url 'products' %}?category=Whiskies" class="dropdown-item ">Whiskeys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-items-link">
                <a href="{% url 'products' %}?category=Wines&region=France" class="dropdown-item">France</a>
                <a href="{% url 'products' %}?category=Wines&region=Spain" class="dropdown-item">Spain</a>
                <a href="{% url 'products' %}?category=Wines&region=Italy" class="dropdown-item">Italy</a>
                <a href="{% url 'products' %}?category=Wines&region=Portugal" class="dropdown-item">Portugal</a>
                <a href="{% url 'products' %}?category=Wines" class="dropdown-item">All & Other Regions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="whiskeys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Whiskeys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="whiskeys-link">
                <a href="{% url 'products' %}?category=Whiskeys,Whiskies&region=Scotland" class="dropdown-item">Scotland</a>
                <a href="{% url 'products' %}?category=Whiskeys,Whiskies&region=Ireland" class="dropdown-item">Ireland</a>
                <a href="{% url 'products' %}?category=Whiskeys,Whiskies&region=Canada" class="dropdown-item">Canada</a>
                <a href="{% url 'products' %}?category=Whiskeys,Whiskies&region=Japan" class="dropdown-item">Japan</a>
                <a href="{% url 'products' %}?category=Whiskeys,Whiskies&region=USA" class="dropdown-item">USA</a>
                <a href="{% url 'products' %}?category=Whiskeys,Whiskies=Whiskeys,Whiskies" class="dropdown-item">All & Other Regions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="gin-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gin-link">
                <a href="{% url 'products' %}?category=Gins&region=England" class="dropdown-item">England</a>
                <a href="{% url 'products' %}?category=Gins&region=Scotland" class="dropdown-item">Scotland</a>
                <a href="{% url 'products' %}?category=Gins&region=USA" class="dropdown-item">USA</a>
                <a href="{% url 'products' %}?category=Gins" class="dropdown-item">All & Other Regions</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-offer-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offer-link">
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>