<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Region</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-items-link">
                <a href="" class="dropdown-item">France</a>
                <a href="" class="dropdown-item">Spain</a>
                <a href="" class="dropdown-item">Italy</a>
                <a href="" class="dropdown-item">Portugal</a>
                <a href="" class="dropdown-item">South Africa</a>
                <a href="" class="dropdown-item">All & Other Regions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="whiskeys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Whiskeys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="whiskeys-link">
                <a href="" class="dropdown-item">Scotland</a>
                <a href="" class="dropdown-item">Ireland</a>
                <a href="" class="dropdown-item">Canada</a>
                <a href="" class="dropdown-item">Japan</a>
                <a href="" class="dropdown-item">USA</a>
                <a href="" class="dropdown-item">All & Other Regions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="gin-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gin-link">
                <a href="" class="dropdown-item">England</a>
                <a href="" class="dropdown-item">Scotland</a>
                <a href="" class="dropdown-item">Australia</a>
                <a href="" class="dropdown-item">Spain</a>
                <a href="" class="dropdown-item">France</a>
                <a href="" class="dropdown-item">All & Other Regions</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-offer-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offer-link">
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>