{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 text-black font-weight-bold">
        <div class="row">
            <div class="col text-center m-0">
                <h2 class="logo-font bg-black">Adding a Product</h2>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-black rounded-0 mb-4">Add Product</button>
        </form>
    </div>
{% endblock %}